@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#app {

  min-width: 200px;
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: auto;

}


